<%- include("templates/header" ) %>
    <div>Users:</div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>User</th>
                <th>User Type</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% for(let i=0; i < users.length; i++) { %>
                <%- include("templates/user", {user: users[i]}) %>
                    <% } %>
        </tbody>
    </table>
    <%- include("templates/footer" ) %>